<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @payment.category %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Department:</strong>
  <%= @payment.department %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @payment.memo %>
</p>

<p>
  <strong>Description:</strong>
  <%= @payment.description %>
</p>

<p>
  <strong>Payment date:</strong>
  <%= @payment.payment_date %>
</p>

<p>
  <strong>Payee:</strong>
  <%= @payment.payee %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
